body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background-image: url("imagens/22.png");
  background-repeat: no-repeat;
    background-size: 1300px 620px;
    background-origin: initial;
} 
.box
{
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:450px;
  padding: 30px;
  background: rgba(0,0,0,.4);
  box-sizing:border-box;
  box-shadow: 0 35px 25px rgba(0,0,0,.2);
  border-radius: 70px;
}
.box h1{
    font-family: 'Franklin Gothic Medium', 'Bree Serif';
    color: #fff;
    background-color: #c91b05;
    text-align: center;  
  }

