h1{
    font-family: 'Franklin Gothic Medium', 'Bree Serif';
    color: #000000;
    background-color: #fde910;
    text-align: center;  
  }
  .botao {
    background-image:url("imagens/sos123.png");
    }
